{{#
    @name Default
    @desc The default template with an outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
#}}

<!-- /default.antlers.html -->
<main class="bg-red-300 outer-grid" id="content">
    <div class="w-screen h-screen text-center bg-green-500">
        <h1>Now we are Rocking now jeah!</h1>
    </div>
    
    {{# {{ page_builder scope="block" }} #}}
        {{# {{ partial src="page_builder/{type}" }} #}}
    {{# {{ /page_builder }} #}}
</main>
<!-- End: /default.antlers.html -->
